.main { 
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tabela {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: lightblue;
    height: 600px;
    width: 350px;
}

.heading {
    margin-left: 2rem;
}

.rodjendani {
    display: flex;
    background: lightgrey;
}



.slike {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.dugme {
    padding: 10px;
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 15px;
    background: transparent;
}

.dugme:hover{
    background: lightgoldenrodyellow;
    cursor: pointer;
}